
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #d84a4a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background-image: url('imagens/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: #000000;
}

.banner h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 24px;
}

.produtos {
    padding: 50px 20px;
    text-align: center;
}

.produtos h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #000000;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.produto {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto p {
    margin-top: 15px;
    font-size: 18px;
    color: #000000;
}

.produto:hover {
    transform: scale(1.05);
}

footer {
    background-color: #d64949;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}

.botao-pagamento {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botao-pagamento:hover {
    background-color: #d84a4a;
}

#tokyo{
    width: 10rem;
}

.escolha{
    width: 30%;
}